body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1d2b58;
    color: #aebaff;
}

header {
    background-color: #0a112c;
    padding: 20px;
    text-align: center;
}

#champions-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #aebaff;
    text-decoration: none;
}

section {
    padding: 20px;
    text-align: center;
}

#lista-campeoes {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.Ahri {
    position: relative;
    width: 200px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.Ahri:hover {
    transform: scale(1.1);
}

.Ahri img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.champion-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    padding: 15px;
    box-sizing: border-box;
}

.champion-card:hover .champion-info {
    opacity: 1;
}
